body {
  font-family: 'VT323', monospace;
  background-image: url(./photo/guild\ \(3\).png);
}
.App {
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
  font-size: 25px;
}
.App-Content {
  margin: 50px 20px 20px 20px;
  padding-top: 20px ;
  font-family: 'VT323', monospace;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
