.BottomBar-Display {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0 5px 0;
    background-color: #4A3A31;
}
.BottomBar-Display-SetBox {
    cursor: pointer;
    color: #ffffff;
}
.BottomBar-Display-SetBox:hover {
    color: blue;

}
.BottomBar-Button > img{
    width: 60px;
    height: 60px;
}
.BottomBar-Display-SetBox > div {
    text-decoration: none !important;
}

@keyframes swinging{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}


.box:hover img {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 1s linear forwards infinite;
    animation: swinging 1s linear forwards infinite;
}

.box2:hover img {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 0.15s linear forwards infinite;
    animation: swinging 0.15s linear forwards infinite;
}