.ChatRoom-Display {
    background-image: url("./photo/guild\ \(3\).png");
    background-size: cover;
    height: 650px;
}
.ChatRoom-Chat-Title-Search-Display {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.ChatRoom-Chat-Title-Name {
    font-size: 20px;
    margin: 0 0 0 5px;
    border: #6d6d6d;
    background-color: rgba(0, 255, 132, 0.775);
    border-radius: 10px;
}
.ChatRoom-Chat-Title-Search {
    margin-top: 5px;
}
.ChatRoom-Chat {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.775);
    padding: 5px;
    border: #000;
    border-radius: 18px;
}
.ChatRoom-Chat-Icon-RoomName-Display {
    display: flex;
}
.ChatRoom-Chat-Icon {
    margin: 0 15px 0 0;
}
.ChatRoom-Chat-Icon > img{
    border-radius: 999em;
    height: 50px;
    width: 50px;
    background-color: #6d6d6d;
}
.ChatRoom-Chat-LastTame {
    color: #000;
    font-size: 10px;
}

.UserPage-Main-Button-Title{
    color: white;
}

.Arrow{
    color: #000;
}