.Completed-Title {
    display: flex;
    justify-content: center;
    color: #979797;
    font-weight: bold;
    margin: 20px 0;
}
.Completed-Like-Title {
    display: flex;
    justify-content: center;
}
.Completed-User-Display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
    border-radius: 8px;
    background-image: url(./photo/book.png);
    background-size: cover;
    /* border: solid 1px #979797; */
    margin-top: 40px;
}
.Completed-User-Icon > img{
    border-radius: 999em;
    height: 150px;
    width: 150px;
}
.Completed-User-UserName {
    font-weight: bold;
    margin: 0 0 0 20px;
    font-size: 20px;
}
.Completed-User-Star {
    margin: 30px 0 0 10px;
    font-size: 30px;
    color: red;
}
.Completed-Like-Icon {
    display: flex;
    align-items: center;
}
.Completed-Like {
    font-size: 30px;
    margin: 0 5px 0 10px;
}
.Completed-Like-Display {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.Completed-Like-Button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 5px 30px;
    border-radius: 5px;
    border: solid  1px #979797;
}
.Completed-Like-Img {
    margin: 0 20px 0 0;
}
.Completed-Img {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}