.Finish-Title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}
.Finish-Title-Content {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #DEA774;
    border-radius: 5px;
    border: solid  2px #979797;
}
.Finish-Content-Display {
    border: solid 1px #979797;
    border-radius: 10px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./photo/guild\ \(5\).png);
}
.Finish-Content-Title {
    color: #979797;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
}
.Finish-Content-Quest-Title {
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0 10px 0;
    color:white;
}
.Finish-Content-Quest-Prize {
    color: #3BA546;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.Finish-Content-Quest-Star {
    margin: 10px 0;
    display: flex;
    color: white;
}

.Finish-Content-Quest-Publisher{
    color:white;
}
.Finished-User {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    font-size: 25px;
    font-weight: bold;
    color: #DEA774;
}
.Finished-Img {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.Img-Completed {
    height: 110px;
    width: 130px;
}
.Img-Finished {
    height: 110px;
    width: 130px;
}
.Img-Published {
    height: 110px;
    width: 130px;
}
.Finish-Confirm {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #0E4DA4;
    font-weight: bold;
    border: solid 1px #FF1010;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}