/* .FrontPage-Display {
    background-image: url(./photo/guild\ \(3\).png);
    background-size: contain;
} */
.FrontPage-Display-Box {
    margin: 0 0 20px 0;
}
.FrontPage-Quest-Name {
    color: #979797;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.FrontPage-Quest-Display {
    background-color: #263238;
    border-radius: 10px;
    padding: 20px;
}
.FrontPage-Quest {
    display: flex;
    justify-content: space-around;
}
.FrontPage-Quest-Number {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.FrontPage-Quest-Content {
    color: white;
}
.FrontPage-Quest-Icon > img{
    height: 60px;
    width: 60px;
}
.FrontPage-Prize-Display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-top: 40px;
}
.FrontPage-Prize {
    color: #3BA546;
    font-size: 20px;
    font-weight: bold;
}
.FrontPage-Details-Button {
    border: solid 1px white;
    border-radius: 10px;
}
.FrontPage-Details-Color {
    color: #ffffff;
    padding: 10px;
}
.FrontPage-TakePublish-Button {
    display: flex;
    justify-content: space-around;
}
.FrontPage-Take-Button, .FrontPage-Publish-Button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.FrontPage-Take-Button:hover, .FrontPage-Publish-Button:hover, .FrontPage-Menu-Title:hover {
    color: #2b37dd;
}
.FrontPage-Take-Button > img, .FrontPage-Publish-Button > img{
    width: 100px;
    height: 150px;
}
.FrontPage-Button-Name {
    font-weight: bold;
}
.FrontPage-Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD99F;
    border-radius: 10px;
    padding: 15px;
    margin: 0 20px 20px 20px;
    cursor: pointer;
    margin-top: 30px;
}
.FrontPage-Menu-Name {
    color: #5CC7FC;
}