.Login-Display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.Login-Guild-Icon > img{
    height: 200px;
    width: 200px;
}
.Login-Guild-Login {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.Login-Guild-Login-username {
    margin: 15px 0;
    background-color: #224957;
    color: white;
    height: 20px;
    border-radius: 5px;
    padding: 20px 10px;
}
.Login-Guild-Login-password {
    margin: 15px 0;
    background-color: #224957;
    color: white;
    height: 20px;
    border-radius: 5px;
    padding: 20px 10px;
}
.Login-Guild-Error-Message {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}
.Login-Guild-Login-Submit {
    margin: 15px 0;
    background-color: #20DF7F;
    border: none;
    padding: 15px 100px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #a7a5a5;
    cursor: pointer;
}
.Login-Register-button {
    display: flex;
    justify-content: center;
    background-color: #2055DF;
    padding: 15px 100px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px #a7a5a5;
    border-radius: 5px;
    cursor: pointer;
}
.Login-Register-button-Title {
    color: #ffffff;
}
.Login-Guild-Button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Login-Guild-Button-checkbox {
    display: flex;
    align-items: center;
}
.Login-Guild-RememberMe {
    font-size: 5px;
}
.Login-Guild-Forgot {
    font-size: 5px;
    color: #20DF7F;
    cursor: pointer;
}
.Login-Guild-Facebook-Login {
    display: flex;
    align-items: center;
    background-color: #1877F2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 40px;
    box-shadow: 1px 1px 1px #a7a5a5;
}
.Login-Guild-Facebook-Login > img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}   
.Login-Guild-Google-Login {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: solid 1px #ececec;
    border-radius: 5px;
    padding: 10px 43px 10px 30px;
    box-shadow: 1px 1px 1px #b8b8b8;
    margin-top: 15px;
}
.Login-Guild-Google-Login > img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}