.wardrobe_2 {
    background-image: url(./photo/wardrobe_2.png);
    background-size: cover;
    padding: 10px 10px 0 10px;
}
.Main-UserDate-All-Display {
    display: flex;
}
.Main-UserDate-Display {
    border: solid 1px #acacac;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}
.Main-UserDate-Top-Display {
    display: flex;
}
.Main-UserDate-User-Photo {
    display: flex;
    align-items: center;
    border: solid 1px #acacac;
    border-radius: 5px;
}
.Main-UserDate-User-Photo > img {
    height: 80px;
    width: 80px;
}
.Main-UserDate {
    border: solid 1px #acacac;
    border-radius: 5px;
    margin: 0 0 0 5px;
    padding: 5px;
    width: 100%;
}
.Main-UserDate-UserName {
    font-weight: bold;
    font-size: 15px;
}
.Main-UserDate-Content-Display {
    border: solid 1px #acacac;
    border-radius: 5px;
    margin: 5px 0 0 0;
    padding: 5px;
}
.Main-UserDate-Content {
    font-size: 5px;
}
.Main-UserDate-Bottom-Display {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 0 0;
}
.Main-UserDate-Rank-Display {
    font-size: 15px;
}
.Main-UserDate-star-Display {
    display: flex;
    align-items: center;
    border: solid 1px #acacac;
    border-radius: 15px;
    padding: 0 5px;
    margin: 0 0 0 10px;
}
.Main-UserDate-star {
    color: red;
}
.Main-UserDate-Exp-Money-Display {
    margin: 0 0 0 5px;
}
.Main-UserDate-Balance {
    color: #3BA546;
}
.Main-UserDate-Exp-level-Display {
    border: solid 1px #acacac;
    border-radius: 5px;
    padding: 5px;
}
.Main-UserDate-Exp-level-Display > div {
    font-size: 2px;
}
.Main-UserDate-Exp {
    color: #3BA546;
}
.Main-Accepted-Quests-Display {
    margin: 10px 0;
    padding: 0 5px 35px 0;
}
.Main-Accepted-Quests-Title {
    font-size: 20px;
    color: #979797;
    font-weight: bold;
}
.Main-Accepted-Quests-Quest-Display {
    display: flex;
    justify-content: space-between;
    background-image: url(./photo/board.png);
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0 0 0;
}
.Main-Accepted-Quests-Quest-Display-Box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.Main-Accepted-Quests-Star-Display {
    display: flex;
    justify-content: space-between;
}
.Main-Accepted-Quests-Quest-Title {
    color: white;
    font-weight: bold;
}
.Main-Accepted-Quests-Quest-Star {
    color: red;
    margin: 0 0 0 20px;
}
.Main-Accepted-Quests-Quest-Content {
    color: #ffffff;
    font-size: 1px;
    margin: 5px 0;
}
.Main-Accepted-Quests-Quest-Details-Display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Main-Accepted-Quests-Quest-Prize {
    color: #3BA546;
}
.Main-Accepted-Quests-Quest-Details {
    color: #ffffff;
    border: solid 1px #a5a5a5;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 5px;
    cursor: pointer;
}
.Main-Accepted-Quests-Quest-Photo {
    margin: 0 0 0 10px;
}
.Main-Accepted-Quests-Quest-Photo-Img{
    height: 120px;
    width: 120px;
    border-radius: 5px;
}