.MyCard-UserDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;
}
.MyCard-UserIcon-Display > img {
    height: 80px;
    width: 80px;
    border-radius: 999em;
}
.MyCard-UserName {
    margin: 10px 0;
}
.MyCard-UserName-Money-Display {
    display: flex;
    align-items: center;
    background-color: rgb(219, 250, 211);
    padding: 5px 15px;
    border-radius: 5px;
}
.MyCard-UserName-Money-Display > img {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
}
.MyCard-Coins-Title {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.MyCard-Coins-Display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}
.MyCard-Coins-Date {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.MyCard-Coins-Date > img{
    height: 80px;
    width: 80px;
    margin: 10px;
}
.MyCard-Coins-Money-Title {
    margin: 5px 0;
}
.MyCard-Coins-Button {
    display: flex;
    justify-content: center;
    background-color: rgb(219, 250, 211);
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 5px;
}