.outside {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400;
}

.Container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-Container{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.right-Container{
  display: flex;
  padding-right: 10px;
}

.userCurrency{
  color: rgb(0, 255, 242);
  padding-right: 10px;
}

.user_Name{
  color: #ffd700;
}

.questIcons{
  color: aquamarine;
  padding-left: 10px;
}

.questCount{
  color: #ffd700;
}

.navbar{
  background-color: #060b26;
  height: 60px;
  display: flex;
  justify-self: start;
  align-items: center;
  flex: 1;
}

.menu-bar {
    margin-left: 1rem;
    font-size: 1.5rem;
    background: none;
}

.menu-bars {
    margin-left: 10rem;
    font-size: 1.5rem;
    background: none;
}

.nav-menu {
    background-color: #060b26;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 450ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-item {
    width: 100%;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


span {
    margin-left: 16px;
}

.coins{
  width: 30px;
  height: 20px;
  padding-right: 10px;
}

.roll{
  width: 40px;
  height: 25px;
}
.Navber-girl-Display {
  display: flex;
  justify-content: flex-end;
}
.Navber-girl-Display > img{
  
  height: 250px;
  width: 100px;
}