.PrivateBar-Display {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: black;
    animation-name: PrivateBar;
    animation-duration :0.3s;
}
@keyframes PrivateBar {
    from {
      left: -300%;
    }
    to {
      left: 0%;
    }
  }
.PrivateBar-UserContent > div {
    color: white;
    font-size: 50px;
}