.PrivateChatRoom-Content-Display {
    border: solid 1px #999898;
    border-radius: 5px;
}
.PrivateChatRoom-Content-UserDate-Display {
    display: flex;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #00fff7;
}
.PrivateChatRoom-Content-UserDate-Icon > img {
    height: 50px;
    width: 50px;
    border-radius: 999em;
}
.PrivateChatRoom-Content-UserDate-Username-Rank-Display {
    margin: 0 0 0 10px;
}
.PrivateChatRoom-Content-UserDate-Rank {
    color: red;
    margin-top: 5px;
}
.PrivateChatRoom-Content-Chatroom-Date-Display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: black;
}
.PrivateChatRoom-Content-Chatroom-Date {
    height: 470px;
    overflow: auto;
}
.PrivateChatRoom-Content-Chatroom-Other-Message-Display {
    display: flex;
	justify-content: flex-end;
    /* max-width: 300px; */
}
.PrivateChatRoom-Content-Chatroom-Other-Message {
    background-color: #FAFAFA;
    margin: 20px 10px 20px 10px;
    display: flex;
    justify-content: flex-start;
    max-width: 270px;
}
.PrivateChatRoom-Content-Chatroom-Message{
    /* padding:10; */
    /* font-size: 10px; */
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.PrivateChatRoom-Content-Chatroom-Time {
    color: #999898;
    font-size: 10px;
    margin: 30px 0 0 20px;
}
.PrivateChatRoom-Content-Chatroom-SendMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}
.PrivateChatRoom-Content-Chatroom-SendMessage-Text {
    border: solid 1px #cacaca;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 20px;
}
.PrivateChatRoom-Content-Chatroom-SendMessage-Submit {
    display: none;
}
.PrivateChatRoom-Content-faImages {
    font-size: 30px;
    color: #33a2fd;
    margin-left: 10px;
    cursor: pointer;
}
.PrivateChatRoom-Content-file {
    display: none;
}
.PrivateChatRoom-Content-Chatroom-My-Message-Display {
    display: flex;
    margin: 0 0 0 10px;
    justify-content: flex-end;
}
.PrivateChatRoom-Content-Chatroom-My-Message {
    background-color: #DCF7C5;
    padding: 5px 10px;
    margin: 10px;
    display: flex;
    max-width: 270px;
}
.sent{
	/* width:100vw; */
	justify-content: flex-end;
}
