.PublishQuest-Display {
    margin: 0 20px;
}
.PublishQuest-Name {
    color: #979797;
    margin-bottom: 30px;
    font-weight: bold;
}
.PublishQuest-Content-Display{
    border-radius: 5px;
    border: solid 1px #979797;
    padding: 20px;
}
.PublishQuest-Title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.PublishQuest-Date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.PublishQuest-LastDate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.PublishQuest-Prize {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.PublishQuest-Prize-Prize {
    display: flex;
}
.PublishQuest-Prize-Prize > input {
    width: 100px;
    margin-left: 10px;
}
.PublishQuest-Prize-Bail {
    display: flex;
}
.PublishQuest-Prize-Bail > input {
    width: 100px;
    margin-left: 10px;
}
.PublishQuest-Difficulty {
    display: flex;
    margin-bottom: 20px;
}
.PublishQuest-People-Number {
    display: flex;
    margin-bottom: 10px;
}
.PublishQuest-People-Number > input {
    width: 20px;
    margin-left: 20px;
}
.PublishQuest-Star {
    margin-left: 10px;
}
.PublishQuest-Content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.PublishQuest-UserIcon-faPlusCircle {
    font-size: 20px;
}
.PublishQuest-UserIcon-Button-Display  {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.PublishQuest-Content > textarea{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.PublishQuest-Content-Number {
    font-size: 5px;
    color: #979797;
    font-weight: bold;
}
.PublishQuest-Button {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.PublishQuest-Button-Publish, .PublishQuest-Button-Cancel {
    padding: 20px 40px;
    border-radius: 5px;
    border: solid 1px #FF1010;
    color: #0E4DA4;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}
.PublishQuest-BackMain {
    text-decoration: none !important;
}
.PublishQuest-Button-Cancel:hover, .PublishQuest-Button-Publish:hover {
    background-color: #dadada;
}