.QuestBoard-Display {
    background-image: url("./photo/guild\ \(2\).png");
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    height: 650px;
}
.QuestBoard-Main-Search {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 20px;
}
.QuestBoard-Main-Button {
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    text-decoration: none !important;
    color: black;
    padding: 5px;
}
.QuestBoard-Main-Button:hover {
    background-color: #dadada;
    border-radius: 5px;
    font-size: 17px;
}
.QuestBoard-Main-Button-fa {
    color: #979797;
}
.QuestBoard-Main-Button-Title {
    margin-left: 20px;
    font-weight: bold;
    color: white;
}
.QuestBoard-PublishQuest {
    display: flex;
    align-items: center;
}
.QuestBoard-PublishQuest > img{
    height: 100px;
    width: 80px;
}
.QuestBoard-Guild-List {
    background-image: url("./photo/guild\ \(5\).png");
    background-size: cover;
    border-radius: 15px;
    border: solid 1px #a7a5a5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    height: 510px;
}
.QuestBoard-card {
    background-image: url("./photo/guild\ \(7\).png");
    background-size: contain;
    border: solid 1px #a7a5a5;
    border-radius: 10px;
    width: 320px;
    height: 170px;
    padding: 10px 15px;
    box-shadow: 4px 4px 4px #a7a5a5;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.QuestBoard-card-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.QuestBoard-card-Title-Name {
    font-weight: bold;
    font-size: 20px;
}
.QuestBoard-card-star-day {
    display: flex;
}
.QuestBoard-card-star {
    font-size: 10px;
    color: #ff0000;
}
.QuestBoard-card-day {
    margin: 0 0 0 5px;
    font-size: 10px;
}
.QuestBoard-card-Content-Display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.QuestBoard-card-Content-Display > img{
    height: 70px;
    width: 70px;
}
.QuestBoard-card-Content {
    margin: 10px 0 20px 0;
    overflow: auto;
}
.QuestBoard-Button-Display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.QuestBoard-Button-Details {
    border-radius: 10px;
    border: solid 1px #0E4DA4;
    padding: 10px 20px;
    cursor: pointer;

}
.QuestBoard-Button-Details-Color {
    color: #0E4DA4;
    font-size: 0.8rem;
}
.QuestBoard-card-Money {
    font-weight: bold;
    font-size: 20px;
    color: #3BA546;
}

.Publish{
    color: yellow;
}