.QuestBoardId-BackMain {
    cursor: pointer;
}
.QuestBoardId-About {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.QuestBoardId-Send-Message {
    border-radius: 15px;
    border: solid 1px #b1b1b1;
    padding: 20px;
}
.QuestBoardId-Send-Message > div{
<<<<<<< HEAD
    color: #DEA774;
}
.QuestBoardId-About-Text {
    font-size: 20px;
    color: white;
=======
    color: #FFB53C;
}
.QuestBoardId-About-Text {
    font-size: 20px;
    color: #9c9c9c;
>>>>>>> 5d957b6a6ebb65c4e054f1df790949e9db3d9be6
    padding: 30px 0;
}
.QuestBoardId-UserDate {
    display: flex;
    justify-content: space-around;
    color:white;
<<<<<<< HEAD
    font-size: 20px;
=======
>>>>>>> 5d957b6a6ebb65c4e054f1df790949e9db3d9be6
}
.QuestBoardId-Difficulty {
    display: flex;
    font-size: 10px;
}
.QuestBoardId-Difficulty-star {
    color: red;
    margin-left: 5px;
}
.QuestBoardId-Publisher-User {
    display: flex;
    align-items: center;
    font-size: 10px;
}
.QuestBoardId-img {
    margin: 0 0 0 5px;
<<<<<<< HEAD
    height: 30px;
    width: 30px;
=======
    height: 20px;
    width: 20px;
>>>>>>> 5d957b6a6ebb65c4e054f1df790949e9db3d9be6
}
.QuestBoardId-Publish-Date {
    font-size: 10px;
}
.QuestBoardId-Expiration-Date {
    font-size: 10px;
}
.QuestBoardId-Content-Display {
<<<<<<< HEAD
    background-image: url(./photo/guild\ \(5\).png);
    background-size: contain;
=======
    background-image: url(./photo/guild\ \(4\).png);
    background-size: cover;
>>>>>>> 5d957b6a6ebb65c4e054f1df790949e9db3d9be6
    color: white;
    border-radius: 10px;
    border: solid 1px #b1b1b1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.QuestBoardId-Title {
    font-weight: bold;
    font-size: 20px;
}
.QuestBoardId-Content-Box {
    display: flex;
    justify-content: center;
    align-items:stretch;
    border-radius: 10px;
    border: solid 1px #b1b1b1;
    margin: 10px 0;
    height: 220px;
    width: 260px;
    overflow: auto;
<<<<<<< HEAD
=======
    background-image: url(./photo/guild\ \(7\).png);
    background-size: contain;
>>>>>>> 5d957b6a6ebb65c4e054f1df790949e9db3d9be6
}
.QuestBoardId-Content {
    margin-top: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
<<<<<<< HEAD
=======
    color:#642A02;
>>>>>>> 5d957b6a6ebb65c4e054f1df790949e9db3d9be6
}
.QuestBoardId-Img-approved {
    height: 70px;
    width: 80px;
}
.QuestBoardId-Img-Published {
    height: 70px;
    width: 70px;
}
.QuestBoardId-Money-Display {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.QuestBoardId-Content-BailMoney {
    color: #DEA774;
    font-size: 22px;
}
.QuestBoardId-Content-PrizeMoney {
    color: #3BA546;
    font-size: 22px;
}
.QuestBoardId-Button {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.QuestBoardId-Ask {
    color: wheat;
    border-radius: 15px;
    border: solid 1px #b1b1b1;
    cursor: pointer;
}
.QuestBoardId-Ask > div {
    color: #f0de42;
    font-weight: bold;
    padding: 20px;
}
.QuestBoardId-Take {
    border-radius: 15px;
    cursor: pointer;
    border: solid 1px #b1b1b1;
}
.QuestBoardId-Take-Cancel {
    border-radius: 15px;
    cursor: pointer;
    border: solid 1px #ff6a6a;
}
.QuestBoardId-TakeQuest{
    font-weight: bold;
    color: #0E4DA4;
    padding: 20px;
}
.QuestBoardId-Cancel{
    font-weight: bold;
    color: red;
    padding: 20px 40px;
}
<<<<<<< HEAD
=======

>>>>>>> 5d957b6a6ebb65c4e054f1df790949e9db3d9be6
.QuestBoardId-Finish {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    border: solid 1px #ff6a6a;
    font-weight: bold;
    color: #0E4DA4;
    padding: 10px;
    margin: 10px 20px 0 20px;
}