.Register-Display {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./photo/book.jpg");
    background-size: cover;
    margin-top: 150px;
}
.Register-Title {
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 30px;
}
.Register-UserDate {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Register-UserDate > input{
    background-color: #d1d0d0;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 10px;
    /* text-decoration: none !important; */
}
.Register-Error-Message {
    color: #ff0000;
}
.Register-Button {
    margin-top: 40px;
}
.Register-Button-Title {
    background-color: #29B06D;
    border: none;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 5px;
}
.Register-Conditions {
    color: #5F5F5F;
    font-size: 5px;
    margin-top: 10px;
}