.Setting-Deposit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Setting-Deposit {
    padding: 20px 0;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 119, 255);
}
.abc {
    background-color: #E5E5E5;
    padding: 15px;
    border-radius: 5px;  
    margin-top: 20px;
}
.abc > div {
    margin: 5px 0;
    cursor: pointer;
}