.UserPage-Display {
    background-image: url(./photo/guild\ \(3\).png);
    background-size: cover;
}
.UserPage-BackMain {
    display: flex;
}
.UserPage-Main-Button {
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none !important;
    color: black;
    padding: 5px;
}
.UserPage-Main-Button:hover {
    background-color: #dadada;
    border-radius: 5px;
    font-size: 17px;
}
.UserPage-Main-Button-fa {
    color: #979797;
}
.UserPage-Main-Button-Title {
    margin-left: 20px;
    font-weight: bold;
    color: black;
}
.UserPage-Content-Setting-Display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.UserPage-User-submit {
    display: none;
}
.UserPage-Content-Setting {
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.UserPage-User-Title {
    font-weight: bold;
    font-size: 20px;
    color: #979797;
}
.UserPage-UserDate-Display {
    background-image: url(./photo/board_2.png);
    background-size: cover;
    border: solid 1px #838383;
    border-radius: 5px;
    padding: 10px;
}
.UserPage-UserDate-Content {
    display: flex;
    justify-content: space-between;
}
.UserPage-UserIcon-Display {
    padding: 5px 5px 0 5px;
    border: solid 1px #838383;
    border-radius: 5px;
}
.UserPage-UserIcon-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 90px;
    width: 100px;
    cursor: pointer;
}
.UserPage-UserIcon-file {
    display: none;
}
.UserPage-UserIcon-Display > img{
    height: 90px;
    width: 90px;
}
.UserPage-UserDate {
    border: solid 1px #838383;
    border-radius: 5px;
    padding: 15px 15px 0 15px;
}
.UserPage-User-username {
    font-size: 20px;
}
.UserPage-Rank-Display {
    display: flex;
    align-items: center;
}
.UserPage-User-Rank {
    font-size: 20px;
}
.UserPage-User-Rank-Color {
    margin: 0 50px 0 10px;
    color: red;
}
.UserPage-User-star-ID {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.UserPage-User-star {
    font-size: 30px;
}
.UserPage-User-star > img {
    height: 40px;
    width: 40px;
}
.UserPage-User-ID {
    font-size: 10px;
}
.UserPage-UserDate-Balance-JoinDate {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.UserPage-UserDate-Balance {
    color: #3BA546;
    font-weight: bold;
    font-size: 20px;
}
.UserPage-UserDate-Message-Display {
    display: flex;
    justify-content: space-between;
}
.UserPage-UserDate-Exp, .UserPage-UserDate-published-quest{
    color: #959595;
    font-size: 20px;
}
.UserPage-UserDate-Like {
    font-size: 25px;
    margin-top: 10px;
}
.UserPage-UserDate-Message {
    border: solid 1px #838383;
    border-radius: 5px;
    display: flex;
    width: 50%;
}
.UserPage-UserDate-Message-Content {
    font-size: 20px;
    padding: 15px;
}
.UserPage-Recent-Activities {
    font-weight: bold;
    font-size: 20px;
    color: #979797;
    margin: 30px 0 20px 0;
}
.UserPage-Recent-Activities-Display {
    background-image: url(./photo/coins.png);
    background-size: cover;
    color: white;
    border: solid 1px #838383;
    border-radius: 5px;
    padding: 15px;
    height: 200px;
    overflow: auto;
}
.UserPage-Recent-Activities-Data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 15px 0;
    cursor: pointer;
}
.UserPage-Completed-Display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6E6F2;
    border-radius: 10px;
    padding: 2px 0;
}
.UserPage-Completed-boll {
    padding: 3.5px;
    border-radius: 999em;
    background-color: #4A4AFF;
}
.UserPage-Completed-Title {
    font-size: 15px;
    font-weight: bold;
    color: #4A4AFF;
    margin: 0 0 0 5px;
}
.UserPage-Finished-Display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6E6F2;
    border-radius: 10px;
    padding: 2px 0;
}
.UserPage-Finished-boll {
    padding: 3.5px;
    border-radius: 999em;
    background-color: #389F27;
}
.UserPage-Finished-Title {
    font-size: 15px;
    font-weight: bold;
    color: #389F27;
    margin: 0 0 0 5px;
}
.UserPage-Published-Display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE0E0;
    border-radius: 10px;
    padding: 2px 0;
}
.UserPage-Published-boll {
    padding: 3.5px;
    border-radius: 999em;
    background-color: #D30000;
}
.UserPage-Published-Title {
    font-size: 15px;
    font-weight: bold;
    color: #D30000;
    margin: 0 0 0 5px;
}
.UserPage-Accepted-Display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CDFFCD;
    border-radius: 10px;
    padding: 2px 0;
}
.UserPage-Recent-Activities-Data-username {
    width: 120px;
}
.UserPage-Accepted-boll {
    padding: 3.5px;
    border-radius: 999em;
    background-color: #007F00;
}
.UserPage-Accepted-Title {
    font-size: 15px;
    font-weight: bold;
    color: #007F00;
    margin: 0 0 0 5px;
}
.UserPage-Recent-Activities-Data-Accepted-Money {
    color: #3BA546;
}
.UserPage-Recent-Activities-Data-Published-Money {
    color: #ff0000;
}
/* .TitleText{
    color:cadetblue;
    padding: 2px;
}
.UserPage-Display {
    padding:10px;
    border-radius: 15px;
    border: solid 1px #a7a5a5;
    
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    height: 510px;
}

.UserPage-User-Board {
    padding: 5px;
    border-radius: 15px;
    border: solid 1px #a7a5a5;
    height: 250px;
}

.UserPage-User-BoardA {
    padding: 5px;
    display:flex;
    height: 125px;
}

.UserPage-User-BoardB {
    padding: 5px;
    display:flex;
    height: 125px;
}

.UserPage-User-Board-Icon {
    padding: 3px;
    margin-right: 8px;
    border-radius: 15px;
    border: solid 1px #a7a5a5;
    height: 120px;
    width:120px;
}

.UserPage-User-Board-Info {
    
    border-radius: 15px;
    border: solid 1px #a7a5a5;
    height: 120px;
    width: 200px;
    
}

.UserPage-User-Board-Info-UserName {
    Padding:5px;
    background-color: coral;
    height: 40px;
    width: 180px;
}

.Display {
    display: flex;
    justify-content: space-between;
}
.UserPage-Details-Button {
    border: solid 1px #FF1010;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.UserPage-Details-Button-Tltle {
    font-weight: bold;
}


.UserPage-User-Board-Balance-Board {
    padding: 3px;
    margin-right: 8px;
    background-color: rgb(150, 213, 241);
    height: 100px;
    width:120px;
}

.UserPage-User-Board-SelfIntro-Board {
    padding: 3px;
    margin-right: 8px;
    background-color: rgb(180, 211, 177);
    height: 100px;
    width:200px;
}

.UserPage-User-Board-SelfIntro-Text {
    padding: 3px;
    margin-right: 8px;
    border-radius: 15px;
    border: solid 1px #a7a5a5;
    background-color: rgb(16, 197, 0);
    height: 70px;
    width:200px;
}


.UserPage-RecentActivities-Board {
    padding: 5px;
    border-radius: 15px;
    border: solid 1px #a7a5a5;
    height: 200px;
}


.UserPage-RecentActivities-Board-Items {
    padding: 3px;
    border-radius: 15px;
    border: solid 1px #a7a5a5;
    height: 40px;
    display:flex;
    justify-content: space-between;
}
 */
